
@import '../../Utils/mixins.scss';

$main-text-color--: #FFFFFF;

.nav {
  
 
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 1;
  box-sizing: border-box;
  min-width: 450px;
  transition-duration: 1s;
  


  // .nav__logo

 

  // .nav__p


  &__link{
    text-decoration: none;
    color: $main-text-color--;

    

    



  }
  &__p {
    color:$main-text-color--;
    font-size: 20px;
    gap: 10px;
    display: flex;
    margin-right: 20px;

    @include website-text;
     white-space: nowrap;

    @include on-Tablet{
      font-size: 30px;
    }

    @include on-Desctop{
      font-size: 36px;
      gap: 20px;
    }
  }

  // .nav__button

  &__button {
    display: none;
    text-decoration: none;


    @include on-Desctop{
    display: block;
    background-color: transparent;
    margin-right: 20px;
    width:210px;
    height: 40px;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px; /* Размер шрифта */
    border: 1px solid #000;
    @include website-text;
    transition: background-color 0.3s ease, transform 0.2s ease;
      &:hover{
        background-color: #2F4F4F;
      }

      &:active{
        background-color:#366969;
      }

    }



    
    
  }
}



