
@import '../../Utils/mixins.scss';



.ourteam{

  @include pading-inline;
  width: 100%;
  

  &__title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;

    @include on-Desctop {
      font-size: 36px;
    }

  }

}



.workers{

  display: flex;
  flex-direction: column;
  gap: 40px;



  @include on-Desctop{
    flex-direction: row;
    flex-wrap: wrap;
  }

}


.worker{


  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;



@include on-Desctop{
    width: 30%;
  }



  &__name{
    text-align: center;
    font-size: 24px;
  }
  


  &__img {
    width: 100%;
    aspect-ratio: 1 / 1; 
    border-radius: 30%;
    object-fit: cover;
    object-position: center;

    @include on-Desctop {
      width: 100%; 
    }
  }


  &__description{

    
    word-break: break-word;
    overflow-wrap: break-word;


    @include on-Desctop{
      align-self: center;
      
    }
  }
}